{% extends 'base.html' %}

{% block title %}Note List{% endblock title %}

{% block content %}
  <h1>Note List</h1>

  <!-- Поисковик -->
  <form method="GET" action="{% url 'notes:note_list' %}">
    <div class="mb-3">
      <label for="searchInput" class="form-label">Search:</label>
      <input type="text" class="form-control" id="searchInput" name="q" placeholder="Search...">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <!-- Список заметок -->
  <ul>
    {% for note in notes %}
      <li>
        <form method="post" action="{% url 'notes:toggle_done' note.id %}">
          {% csrf_token %}
          <input type="checkbox" name="done" {% if note.done %}checked{% endif %} onchange="this.form.submit()">
          <input type="hidden" name="current_done" value="{{ note.done }}">
        </form>
        <a href="{% url 'notes:note_detail' note.id %}">{{ note.name }}</a>
  
        <!-- Отобразите связанные теги для каждой заметки -->
        Tag:
        {% for tag in note.tags.all %}
          <span>{{ tag.name }}</span>
        {% endfor %}
  
        <a href="{% url 'notes:note_edit' note.id %}">Редактировать</a>
        <a href="{% url 'notes:note_delete' note.id %}">Удалить</a>
      </li>
    {% endfor %}
  </ul>

  <!-- Ссылка на создание новой заметки -->
  <a href="{% url 'notes:note_create' %}" class="btn btn-primary mt-3">Create New Note</a>

  <!-- Список доступных тегов и кнопка для перехода на страницу с тегами -->
  <div class="mt-3">
    <h2>Available Tags</h2>
    <ul>
      {% for tag in all_tags %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
    <a href="{% url 'notes:tag_list' %}" class="btn btn-secondary">Tag List</a>
  </div>

{% endblock content %}