{% extends 'base.html' %}

{% block title %}Note Detail{% endblock title %}

{% block content %}
  <h1>Note Detail</h1>
  <p><strong>Name:</strong> {{ note.name }}</p>
  <p><strong>Description:</strong> {{ note.description }}</p>
  <p><strong>Status:</strong> {% if note.done %}Done{% else %}Pending{% endif %}</p>

  <!-- Отображение тега для заметки -->
  <p><strong>Tags:</strong>
    {% for tag in note.tags.all %}
      <span>{{ tag.name }}</span>
    {% endfor %}
  </p>
  <!-- Вывод времени создания -->
  <p><strong>Created:</strong> {{ note.created }}</p>

  <p><a href="{% url 'notes:note_edit' note.id %}">Edit Note</a></p>
  <p><a href="{% url 'notes:note_list' %}">Back to Note List</a></p>
{% endblock content %}