<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if object %}Редактирование{% else %}Создание{% endif %} заметки</title>
</head>
<body>
    <h1>{% if object %}Редактирование{% else %}Создание{% endif %} заметки</h1>
    
    <form method="post" action="{% if object %}{% url 'notes:note_edit' pk=object.pk %}{% else %}{% url 'notes:note_create' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Далее">
    </form>

    <!-- Кнопка для возврата к списку заметок -->
    <a href="{% url 'notes:note_list' %}">Назад к списку заметок</a>

    {% if object %}
        <!-- Добавлена ссылка для перехода к созданию тегов -->
        <a href="{% url 'notes:tag_create' %}?next={% url 'notes:note_edit' pk=object.pk %}">Далее: создать теги</a>
    {% endif %}
</body>
</html>
