asgiref==3.7.2 ; python_version >= "3.12" and python_version < "4.0"
crispy-bootstrap5==2023.10 ; python_version >= "3.12" and python_version < "4.0"
dj-database-url==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
dj-email-url==1.0.6 ; python_version >= "3.12" and python_version < "4.0"
django-birthday==0.1.4 ; python_version >= "3.12" and python_version < "4.0"
django-cache-url==3.4.4 ; python_version >= "3.12" and python_version < "4.0"
django-crispy-forms==2.1 ; python_version >= "3.12" and python_version < "4.0"
django==4.2.7 ; python_version >= "3.12" and python_version < "4.0"
environs==9.5.0 ; python_version >= "3.12" and python_version < "4.0"
faker==20.0.3 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==21.2.0 ; python_version >= "3.12" and python_version < "4.0"
marshmallow==3.20.1 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.12" and python_version < "4.0"
pathspec==0.11.2 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.1.0 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.12" and python_version < "4.0"
transliterate==1.10.2 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.8.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
whitenoise==6.6.0 ; python_version >= "3.12" and python_version < "4.0"
