{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Coming Birthday List{% endblock title %}

{% block content %}
    <h2>Upcoming Birthday List</h2>

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">LAST NAME</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">DOB

        </th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contact_list%}
        <tr>
        <td><a href="{{ contact.get_absolute_url }}">{{ contact.last_name }}</a></td>
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.dob }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
     <div>
        <p>Back to <a href="{% url 'contact_list' %}">Contacts List</a>.</p>
    </div>

{% endblock content %}

