{% extends "base.html" %}

{% block title %}Contacts{% endblock title %}

{% block content %}

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">LAST NAME</th>
      <th scope="col">FIRST NAME</th>
      <th scope="col">E-MAIL</th>
        <th scope="col">DOB</th>
    <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for contact in contact_list %}
    <tr>
        <td><a href="{{ contact.get_absolute_url }}">{{ contact.last_name }}</a></td>
        <td>{{ contact.first_name }}</td>
        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
        <td>{{ contact.dob }}</td>
        <td><a href="{{ contact.get_absolute_url }}">New Phone Number</a></td>
        <td><a href="{% url 'contact_edit' contact.pk %}">Edit</a></td>
        <td><a href="{% url 'contact_delete' contact.pk %}">Delete</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}



