{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="article-entry">
    <h2>{{ contact.last_name }}, {{ contact.first_name }}</h2>
    {% if contact.avatar %}
        <img src="{{ contact.avatar.url }}" alt="{{ contact.first_name }}{{ contact.last_name }}">
    {% endif %}
    <h5>Contact e-mail</h5>
    <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
        <h5>Phone Numbers</h5>
        {% for  phone_number in contact.phonenumber_set.all %}
            <p><a href="tel:{{ phone_number }}">{{ phone_number }}</a></p>
        {% endfor %}
    <h6>Add new phone number</h6>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-2" type="submit">Save</button>
        </form>
    <h5>Date of Birth</h5>
    <p>{{ contact.dob }}</p>
    <p>{{ contact.notes }}</p>
    </div>
    <div>
        <p><a href="{% url 'contact_edit' contact.pk %}">Edit</a></p>
        <p><a href="{% url 'contact_delete' contact.pk %}">Delete</a></p>
        <p>Back to <a href="{% url 'contact_list' %}">Contacts List</a>.</p>
    </div>

{% endblock content %}