{% extends 'base.html' %}


{% block content %}

<a href="{% url 'home' %}" class="btn btn-secondary mt-3">На головну</a>
<h2 style="text-align: center;">Курси валют НБУ на {{ list_rates }}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Код валюти</th>
            <th scope="col">Назва</th>
            <th scope="col">Курс</th>
        </tr>
    </thead>
    <tbody>
    {% for item in list_exchange %}
        <tr>
            <td>{{ item.currency }}</td>
            <td>{{ item.name_currency }}</td>
            <td>{{ item.sale }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
